.containerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerInfoHorizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.carousel {
    max-width: 50%;
    height: auto;
}